@layouts.admin.app()
  @slot('title')
    Home Page
  @end

  @slot('header')
    <h1>Welcome, user</h1>
  @end

  @slot('content')
    <p>This is the main content of the home page.</p>
    <div>
        <h2>Form</h2>
        <form action="">
            @csrf()
            @method('POST')
        </form>
    </div>
  @end

  @slot('footer')
    <p>© 2025 My Website</p>
  @end
@endlayouts.admin.app
